.home_main_div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_main_div__wrapper{
    height: 100%;
    width: 100%;
    min-height: calc((100vh) - 120px);
}