.not_mobile{
    @media(max-width: 600px){
        display: none !important;
    }
}
.home_main_div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_main_div__wrapper{
    height: 100%;
    width: 100%;
    min-height: calc((100vh) - 120px);
}
.block_arrayMessage{
    height: 100%;
    width: 100%;
    min-height: 60vh;
    margin-top: 10px;
}
.temp_post_one{
    width: 100%;
    position: relative;
    box-shadow: black 0px 0px 2px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 20px auto;

    @media(max-width: 600px){
        box-shadow: black 0px 0px 5px; 
    }
}
.list-item{
    padding: 0;
    margin: 0;
}
.custom_style_btn_home{
    height: 22px;
    width: 22px;
    position: absolute;
    top: 0%;
    right: 0%;
    border-radius: 50px;
    background-image: url('../assets/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 40%;
    cursor: pointer;
    &:hover{
        opacity: 80%;
    }
}
.custom_style_btn_home_active{
    height: 22px;
    width: 22px;
    position: absolute;
    top: 0%;
    right: 0%;
    border-radius: 50px;
    background-image: url('../assets/starsGold.svg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 80%;
    cursor: pointer;
    &:hover{
        opacity: 100%;
    }
}
.text_elem_body{
    margin-left: 10px;
    width: 90%;
    text-align: left;
    @media(max-width: 600px){
        width: calc((100%) - 10px);
    }
}
.text_elem_title{
    margin-left: 10px;
    width: 90%;
    text-align: left;
    font-size: large;
    font-weight: bold;
    display: flex;
}
.id_elem_home{
    margin-right: 10px;
}
.custom_input_home{
    width: 100%;
    height: 100%;
}
.pagination_elem{
    cursor: pointer;
}
.page-link{
    cursor: pointer;
    @media(max-width: 400px){
        padding: 0.085rem 0.62rem !important;
    }
}
.form_button_home{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom_button_search{
    width: 25px;
    height: 25px;
    background-image: url('../assets/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-left: 5px;

}